<div id='calendar' class='span10'></div>

<div id='eventDialog' class='dialog ui-helper-hidden'>
    <form>
        <input id="user_id" type="hidden" value=<%= @user.id %>/>

        <div>
            <label for="title">Title:</label>
            <input id='title' class="field" type="text"/>
        </div>
        <div>
            <label for="color">Color:</label>
            <input id='color' class="field" type="color"/>
        </div>
        <div>
            <label for="allDay">All Day:</label>
            <input id='allDay' class="field" type="checkbox"/>
        </div>
        <br/>

        <div>
            <label for="importance">Importance:</label>
            <select class="field" id="importance">
                <option value="0">Normal</option>
                <option value="0.5">Plus</option>
                <option value="1">PlusPlus</option>
            </select>
        </div>

        <div>
            <label for="autoImportance">Auto Importance:</label>
            <input id='autoImportance' class="field" type="checkbox"/>
        </div>
        <br>
        <br>

        <div>
            <label for="start">Start:</label>
            <input id='start' class="field" type="text"/>
        </div>
        <div>
            <label for="end">End:</label>
            <input id='end' class="field" type="text"/>
        </div>


    </form>
</div>