

  <body data-spy="scroll" data-target=".bs-docs-sidebar" >


	<div class="jumbotron masthead">

  <div class="container">
    <h1> <img src="../../../images/logo.png" alt="cal++ logo" width='300px';> </h1>
    <p>Calendars. Done. Right.</p>
    <p>
      <a href="/auth/google_oauth2" class="btn btn-success btn-large">Log in</a>
    </p>
   
  </div>
</div>



  </body>

