<div class="jumbotron masthead">

    <div class="container">

        <br>
        <br>
        <br>

        <p>Calendars. Done. Right.</p>

        <p>
            <a href="/auth/google_oauth2" class="btn btn-success btn-large">Log in</a>
        </p>

    </div>
</div>