

  <body data-spy="scroll" data-target=".bs-docs-sidebar" >


	<div class="jumbotron masthead">

  <div class="container">
    <h1> <img src="../../../images/logo.png" alt="cal++ logo" width='300px';> </h1>
    <p>You have successfully logged in!</p>
    <p>
      <a href="/import" class="btn btn-primary btn-large">Import from Google</a>
      <a href="/home" class="btn btn-inverse btn-large">View Calendar</a>
    </p>
   
  </div>
</div>



  </body>

