<pre><%= @result.data.to_yaml %></pre>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
  <% @result.data.items.each do |cal| %>
      <tr>
        <td><%= cal.summary %></td>
        <td><%= cal.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>

