<div class="sidebar">
    <ul class="nav">
        <% if @user %>
            <a href="<%= root_path %>" target="_self">
                <img src="/images/logo.png" alt="cal++ logo" width='300px'></a>
            <span>Welcome <%= @user.name %>!</span>
            <br/>
            <br/>
            <a href="/import" class="btn btn-primary">Import from Google</a>
            <br/>
            <br/>
        <% end %>
        <p>Here at Cal++, we believe calendars should be easy on the eyes and minds. Make your events Normal, Plus or
            PlusPlus and relish the beauty of your new, simplified calendar. </p>

        <p style="text-align:center; font-weight: bold;">Cal++: Calendars. Done. Right. </p>

        <div id='sidefoot'><p style="text-align:center;">Zurawicki, Scharfstein and Ho<br/>&#169 2012 </p></div>

        <% if @user %>
            <li>
                <%= link_to 'Logout', '/logout' %>
            </li>
        <% end %>
    </ul>
</div>