<div class="sidebar">
    <div class="nav">
        <div class="row-fluid">
            <a href="<%= root_path %>" target="_self">
                <img src="/images/logo.png" alt="cal++ logo" width='300px'>
            </a>
        </div>
        <% if @user %>
            <span>Welcome <%= @user.name %>!</span>
            <br>
            <%= link_to 'Import Calendar', import_path, :class => 'btn btn-primary' %>
            <%= link_to 'Logout', logout_path, :class => 'btn btn-danger' %>
            <br>
            <br>
        <% end %>
        <p>
            Here at Cal++, we believe calendars should be easy on the eyes and minds.
            We prioritize your events are important or not. Simple as that.
            We use a Bayesian machine learning algorithm to understand and analyze which events are important.
            Of course, you can always let us know what's important by marking your events manually.
        </p>

        <p style="text-align:center;">&#169 2013. Zurawicki, Chang, and Liu.<br>CS51 2013 Final Project </p>

    </div>
</div>